@charset "utf-8";

#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(116, 99, 99, 0.1);
    backdrop-filter: blur(15px);
    padding: 1rem;
}
.header_logo{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
}
.header_logo em{
    font-size: 1rem;
    display: block;
    color: var(--black200);
}
.header_nav{
    
}
.header_nav ul{}
.header_nav ul li{
    display: inline;
    
}
.header_nav ul li a{
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px;
    position: relative;
}
.header_nav ul li a::before{
    content: "";
    width: calc(100% - 28px);
    height: 1px;
    position: absolute;
    bottom: 10px;
    left: 14px;
    background-color: var(--black);
    transform: scale(0);
    transition: all 0.3s;
    transform-origin: left center;
}
.header_nav ul li a:hover:before{
    transform: scaleX(1);
}


.header_nav_mobile{
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.header_nav_mobile span{
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--black);
    margin-top: 19px;
    position: relative;
}
.header_nav_mobile span::before{
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    top: 6px;
    right: 0;
    transition: all 0.3s;
}
.header_nav_mobile span::after{
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    bottom: 6px;
    left:  0;
    transition: all 0.3s;
}

@media(max-width:800px){
    .header_nav{display: none;}
    .header_nav.show{display: block;
    
    }
    .header_nav.show  ul{
        position: absolute;
        right: 0;
        top: 68px;
        background-color: var(--mainBg-color);
        backdrop-filter: blur(15px);
        min-width: 150;
        padding: 20px 0;
    }
    .header_nav.show  ul li{
        display: block;
        text-align: right;
        
    }
    .header_nav.show  ul li a{
        display: inline-block;
        padding: 10px;
        color: var(--black);
    }

    .header_nav.show + .header_nav_mobile span::before{
        width: 20px;
    }
    .header_nav.show + .header_nav_mobile span::after{
        width: 20px;
    }

    .header_nav_mobile{display: block;}
}
